* {
    padding: 0px;
    margin: 0px;
}
.user {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.userInfor {
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #86ecec;
}
.title {
    color: #fff;
    text-transform: uppercase;
    line-height: 34px;
    text-align: center !important;
    font-weight: normal;
    font-size: 22px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #1A2C50;
    height: 10%;
    border-radius: 10px;
}
.dataWrapper {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.userData {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 43%;
    padding: 2.5%;
}
.email {
    font-size: 14px;
    width: 100%;
    white-space: 'pre-wrap';
    overflow-wrap: break-word;
}
.bookingArea {
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
}
.bookingButton {
    height: 30px;
    width: 200px;
    display: flex;
    background-color: #1A2C50;
    border-radius: 8px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}