.preferential {
    min-height: 500px;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}