* {
    margin: 0px;
    padding: 0px;
}
.booking {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 20px;
}
.scheduleArea{
    height: fit-content;
    width: 200px;
    padding-top: 10px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.bookingArea {
    height: 450px;
    width: 350px;
    /* background-color: gray; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.seatArea {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}
.newRow {
    height: 44px;
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.scheduleButton {
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.scheduleButton:hover {
    background-color: aqua;
}
.scheduleButtonChosen {
    height: 40px;
    width: 70px;
    background-color: #1A2C50;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
}
h2 {
    padding: 0px 0px 5px 5px;
}
.screen{
    width: 100%;
    background-color: aliceblue;
    display: flex;
}
.seatRows {
    width: 100%;
    height: fit-content;
    /* background-color: blanchedalmond; */
}
.scheduleText {
    color: #1A2C50;
}
.bookingInfor1 {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.miniInfor1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* background-color: red; */
}
.seatSample {
    display: flex;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    margin: 10px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.miniInfor2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.confirmButton {
    height: 40px;
    width: 150px;
    margin-top: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    align-self: center;
}
.confirmButton:hover {
    background-color:#1A2C50;
    color: white;
}