*{
    margin:0px;
    padding:0px;
}
.seat {
    display: flex;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.seat:hover {
    background-color: aqua;
}
.seatActive {
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color:white;
    cursor: pointer;
}
.seatPending {
    display: flex;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background-color: #1A2C50;
    color:white;
    cursor: pointer;
}