*{
    padding: 0px;
    margin: 0px;
}
.thanks{
    height: 600px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #1A2C50;
}
.confirmButton {
    height: 40px;
    width: 150px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    align-self: center;
}
.confirmButton:hover {
    background-color:#1A2C50;
    color: white;
}