.slideWrapper {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  justify-content: center;
}
.slider {
  height: fit-content;
  width: 980px;
}

body {
  position: relative;
  height: 100%;
}
.img {
  cursor: pointer;
}
body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0px;
  padding: 0px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide *{
  margin: 0px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: 0px;
  margin-right: 0px;
}
.swiper-button-prev {
  background-color: #000;
}
