*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
.banner {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1A2C50;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.logo {
    color: #FFBE00;
    font-size: 2em;
    font-weight: bold;
    height: fit-content;
    margin-left: 150px;
    text-decoration: none;
}
.bannerStuff {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav {
    color: antiquewhite;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}
.bellIcon {
    color:beige;
    cursor: pointer;
    
}
.userArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    justify-content: space-around;
}
.userLogo {
    width: 35px;
    height: 35px;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png");
    background-size: cover;
    cursor: pointer;
    border-radius: 50px;
}
.userMethod {
    position: absolute;
    top:100%;
    right: 0px;
    width: 140px;
    height: fit-content;
    padding-bottom: 7px;
    background-color: antiquewhite;
    color: orchid;
    -webkit-box-shadow: -11px 9px 35px -11px rgba(0,0,0,0.63); 
    box-shadow: -11px 9px 35px -11px rgba(0,0,0,0.63);
    border-radius: 0px 0px 10px 10px;
}
.userMethod h3{
    text-decoration: none;
    cursor: pointer;
    color: #1A2C50;
    text-decoration: none;
    padding: 5px;
}
.userMethod h3:hover{
    background-color: #FFBE00;
    color: white;
}
h4{
    color: antiquewhite;
    cursor: pointer;
    width: 150px;
}