*{
    margin: 0px;
    padding: 0px;
}
.home {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: fit-content;
    align-items: center;
    background-color: antiquewhite;
    position: relative;
}
.box1Name {
    display: flex;
    width: 980px;
    height: fit-content;
    justify-content: center;
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg") repeat-x center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box1 {
    display: flex;
    height: auto;
    width: 980px;
    flex-wrap: wrap;
}
h1{
    background-color: antiquewhite;
    padding: 0 5px;
}
.trailerSpace{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trailerBG{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
.trailerBox {
    position: relative;
    z-index: 6;
}
.closeTrailerButton {
    position: absolute;
    z-index: 4;
    color: antiquewhite;
    top:5px;
    right:5px;
    font-size: 30px;
    border-radius: 50px;
    border:1px solid antiquewhite
}
.dicountArea{
    display: flex;
    flex-direction: row;
    width: 980px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    margin-top: 20px;
}
.dicountArea img{
    border:4px solid antiquewhite;
    padding: 1px;
}
.dicountArea img:hover {
    border: 4px solid black;
    opacity: 0.8;
}