.newsBanner {
    width: 100%;
    height: 200px;
    cursor: pointer;
    display: flex;
}
.newsBanner h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px 10px 10px;
    text-overflow: ellipsis;
}
.newsBanner p {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding-left: 10px;
    padding-right: 10px;
}