.newsBanner {
    width: 570px;
    height: 500px;
    background-color: white;
    cursor: pointer;
    margin:10px
}
.newsBanner h3 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-overflow: ellipsis;
}
.newsBanner p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding-left: 10px;
    padding-right: 10px;
}