*{
    padding: 0px;
    margin: 0px;
}
.loginPage {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("https://wamu.org/wp-content/uploads/2021/05/daniele-levis-pelusi-5tWA1mXjTEk-unsplash.jpg");
    background-size: cover;
    overflow-y: scroll;
}
.formSpace {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 500px;
    /* background-color: antiquewhite; */
}
.formSpace .logo {
    color: #FFBE00;
    height: 50px;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    background: none;
    cursor: pointer;
}
.form {
    height: fit-content;
    width: fit-content;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
}
.form p{
    color: #1A2C50;
}
.form h1 {
    background: none;
}
.form span{
    color: red;
}
.input {
    border-radius: 3px;
    width: 250px;
    height: 40px;
    border: none;
    padding: 0px 5px 0px 10px;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid gray;
}
.submitButton {
    background-color: #1A2C50;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    color: antiquewhite;
    font-size: 16px;
    font-weight:400;
    align-self: center;
    border-radius: 4px;
}