*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
.footer {
    height: 200px;
    position: relative;
    background-color: #1A2C50;
    padding-left: 185px;
    padding-right: 185px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
    top:100%;
}
.footer p{
    color: antiquewhite;
    font-size: 20px;
    padding-top: 20px;
}
.footer p a{
    color: antiquewhite;
    text-decoration: none;
}
.footer p a:hover{
    color: #FFBE00;
}
