*{
    padding: 0px;
    margin: 0px;
}
.filmInfor {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    padding-top: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filmDetails {
    height: 400px;
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label {
    width: 980px;
    height: 40px;
    /* background-color: blue; */
    border-bottom: 2px solid black;
    margin-top: 20px;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 10px;
}
.detailContent {
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    height: 100%;
}
.filmName {
    font-family: Verdana, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    padding-bottom: 14px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.propName {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 900;
}
.propName span {
    font-size: 17px;
    font-weight: 500;
}
.bookingArea {
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
}
.bookingButton {
    height: 30px;
    width: 200px;
    display: flex;
    background-color: #1A2C50;
    border-radius: 8px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}