.news {
    height: fit-content;
    background-color: antiquewhite;
    background-size: cover;
    padding:50px 50px 0px 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}