*{
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 355px;
    width: 240px;
    margin: 2.5px;
}
.trailerSpace{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trailerBG{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
.trailerBox {
    position: relative;
    z-index: 6;
}
.closeTrailerButton {
    position: absolute;
    z-index: 4;
    color: antiquewhite;
    top:5px;
    right:5px;
    font-size: 30px;
    border-radius: 50px;
    border:1px solid antiquewhite
}
.filmImg {
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}
.filmOption {
    height: 100%;
    width: 100%;
    display: none;
}
.filmImg:hover  .filmOption{
    display: block;
}
.trailerArea {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trailerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: #1A2C50;
    cursor: pointer;
}
.bookingArea {
    position: relative;
    height: 30%;
    width: 100%;
}
.bookingAreaBG {
    position: absolute;
    height: 95%;
    width: 100%;
    background-color: black;
    z-index: 0;
    opacity: 0.5;
}
.filmName {
    position: absolute;
    height: 25%;
    width: 95%;
    padding: 2.5%;
    text-align: center;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    color: antiquewhite;
}
.buttonArea {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    top:30%;
    height: 70%;
    width: 100%;
}
.bookingButton {
    height: 40%;
    width: 40%;
    display: flex;
    background-color: #1A2C50;
    border-radius: 8px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    cursor: pointer;
    text-decoration: none;
}