*{
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 240px;
    margin: 2.5px;
    cursor: pointer;
    margin: 20px;
}
.propName {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 900;
}
.propName span {
    font-size: 17px;
    font-weight: 500;
}