*{
    padding: 0px;
    margin: 0px;
}
.side {
    position: fixed;
    top:60px;
    left:20px;
    height: auto;
    width: auto;
    z-index: 5;
}
.sideContent {
    display: inline-block;
    max-width: fit-content;
    cursor: pointer;

}